body {
    background-color: f5f5f5;
}

.titleHome {

color: red;
font-weight: "bold";

}

.respuesta {

font-style: "italic";
}

.dark-theme {
  background-color: rgba(0, 0, 0, 0.5);
}

.filtrar {
  margin-top: 20px;
  text-align: center;
}

.bott {
  margin-right: 30px;

}
