header .main-header-web{

}


/* header .

header div .iconSearch  {
  display: none;
}

header div .searchForm{
  display: block;
}

nav div .btn.btn-primary.ml-auto.login{
  display: none;
}

.nav-item.active.web-user{
  float: right;
}

header div .sesion{
  position: absolute;
  left: 60%;
  top: 20px;
} */
